*{
    scroll-behavior: smooth;
}
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.overlay-inner{
    width: 70%;
    height: 90vh;
    background-color: aliceblue;
    padding: 1.3rem;
    position: relative;
    overflow-y: scroll ;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 2rem;
    color: rgb(206, 48, 108);
}

.overlay-inner .inner-box{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img{
    margin-right: 3em;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h4{
    margin-top: 1em;
    color: lime;
}
.overlay-inner .inner-box h5{
    color: blue;
}
.overlay-inner .inner-box a{
    text-decoration: none;
    color: blue;
}
.description{
    margin-top: 2rem;
    text-align: justify;
    font-size: .8rem;
}

