@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color : #FFFFFF;
    --secondary-color : #e3dffa;
    
    --card-color-1 : #C5B9FF;
    --card-color-2: #98D6FF;
    --card-color-3 :#FAA0AC;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(20, 212, 171);
    width: 100%;
    height: 100vh;
}


